$nav-color: #003366;
$header-font: 'Sanchez', serif;
$text-color: #FDFEFE;
$text-color-two: #000;
$box-shadow: 2px 2px 2px 2px rgba(0.4, 0.4, 0.4, 0.4);
$center-align: center;
$transparentNavColor: rgba(255,0,0,0.1);
$transparentBodyColor: rgba(0,0,0,0.5);
$primary-color: #4386FC;
$logo-color: #FFD04A;
$background-color: #F2F2F2;

.my-container {
  margin: 0 18px;
}

.main-container {
  background-color: $transparentBodyColor;
  color: $text-color;
  position: absolute;
  height: 100%;
  width: 100%;
}

.main-container .bg {
  background-image: url("https://cloud.githubusercontent.com/assets/25608675/25169939/aec83538-24e0-11e7-84d5-8a26affcbd4e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.body-innards {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.body-innards i,
#create-doc i,
#create-role i,
#create-user i
{
  font-size: 6rem;
  color: $logo-color;
  margin: 0;
}

.create-doc{
  padding: 2px 9px 2px 2px;
  width: 100%;
  letter-spacing: normal;
  background-color: $background-color;
  border: 1px solid $text-color-two;
  border-radius: 8px;
  color: $text-color-two;
  border-radius: 1px;
}

.search-form {
  display: inline;
}

.search-box {
    right: 0;
    width: 40%;
    display: -webkit-inline-box;
    position: absolute;
    height: inherit;
    padding: 0 20px;
    border-radius: 8px;
    background-color: $background-color;
    border: 1px solid $text-color-two;
    opacity: 0.9;
    z-index: 11;
    
}

.search-box input {
  border: 0px solid;
  color: $text-color-two;
  width: 100%;
}

.search-box i {
  padding-right: 10%;
  color: $text-color-two;
}

.search-box select {
  display: block;
  width: 100%;
  height: 61px;
  float: right;
  color: $text-color-two;
  background-color: $background-color;
}

.inline {
  margin-right: 5px;
}

.dropdown{
  border-left: 2px solid $text-color-two;
  display: inline-block;
  position: absolute;
  right: 0;
  padding-right: 3%;
}

.dropdown-content {
  width: 50%;
  color: $text-color-two;
}

.dropdown-content li {
  text-align: left;
}

nav ul a {
  color: $text-color;
}

nav a {
  color: $text-color;
}

nav {
  font-family: $header-font;
  background-color: $transparentNavColor;
}

.tabs {
  -webkit-box-shadow: 0 8px 10px -6px black;
	   -moz-box-shadow: 0 8px 10px -6px black;
	        box-shadow: 0 8px 10px -6px black;
          z-index: 9;
}

.tab-row {
  background-color: $nav-color;
  box-shadow: $box-shadow;
}

.tab-content {
  max-height: 73vh;
  width: 100%;
  position: relative;
  overflow: scroll;
  background-color: $background-color;
  padding: 2.9rem .9rem !important;//eslint-disable-line
  color: $text-color-two;
  opacity: 0.9;
}

.tabs .tab a {
  color: $text-color-two;

}

.tabs .tab a:hover, .tabs .tab a.active {
  color: $primary-color;
}

.tabs .indicator {
background-color: $primary-color;
}

.dropdown-content li>a, .dropdown-content li>span {
  left: 0%
}

.upperCase {
text-transform: uppercase;
}

.login-form {
  margin: 2% 25%;
  width: 50%;
  height: 80%;
  box-shadow: $box-shadow;
  padding: 2% 3%;
}

.signup-form {
  margin: auto;
  width: 80%;
  height: 80%;
  box-shadow: $box-shadow;
  padding: 2% 3%;
}

.center {
  text-align: center;
  color: #212121;
}

.auth-button {
  margin: 2%;
  width: 95%;
  background-color: $nav-color;
  color: $text-color;
}

.auth-button:hover {
  background-color: $logo-color;
}

.auth-header a{
  color: #212121;
  font-family: $header-font;
}

.modal {
  color: $text-color-two;
  width: 80%;
}

.inline {
  display: inline-block;
}

.input-field label:not(.label-icon) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 50%
}

.input-field label:not(.label-icon).active {
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
}

.mce-tinymce * {
  height: 100% !important;//eslint-disable-line
  line-height: 100% !important;//eslint-disable-line
}

@media only screen and (min-width: 601px) {
  .mce-tinymce * {
    height: 100% !important;//eslint-disable-line
    line-height: 100% !important; //eslint-disable-line
  }
}

.nav .input-field input {
  border-bottom: 1px solid;
  width: 97%;
}

table {
  width: 100%;
  max-width: 100%;
  min-width: 300px;
}

th, td {
  max-width: 500px;
  min-width: 20px;
}

.display-none {
  display: none;
}

.pagination-key {
  background: $text-color;
  margin-left: 45%;
  margin-top: -3%;
  position: fixed;
}

.nav-wrapper {
  font-size: 20px;
}
